<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Open Cart Test Regression PW Suite" thread-count="3" parallel="tests" verbose="4">
	<test name="Open Cart - Login Validation Test">
		<classes>
			<class name="tests.TestSuite_01" />
		</classes>
	</test>
</suite>